<style type="text/css">

    body {
        color: blue;
    }

    .border {
        height: 100%;
        border: 5px blue dashed;
    }

</style>

<html lang="en">
<body>

    <div class="border">

            <img src="#" alt="">
            <h1>Certificate of Attendance</h1>
            <h3>Awarded to:</h3>

                <h3>{{attendee.first}} {{attendee.last}}</h3>

                <h3>For successful completion of:</h3>
                <h3>{{attendee.title}}</h3>

                <h3>on</h3>
                <h3>{{attendee.date}}</h3>

    </div>


</body>
</html>