<style type="text/css">

    body {
        color: red;
    }

    .border {
        height: 100%;
        border: 5px red dashed;
    }

</style>

<html lang="en">
<body>

    <div class="border">

        {{#each attendees as |person|}}

            <img src="#" alt="">
            <h1>Certificate of Attendance</h1>
            <h3>Awarded to:</h3>

                <h3>{{person.first}} {{person.last}}</h3>

                <h3>For successful completion of:</h3>
                <h3>{{class.title}}</h3>

                <h3>on</h3>
                <h3>{{class.date}}</h3>

        {{/each}}

    </div>


</body>
</html>